name: MLflow Project Training CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  training:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install MLflow & Dependencies
        run: pip install mlflow dagshub pandas scikit-learn matplotlib seaborn

      - name: Run MLflow Project
        env:
          MLFLOW_TRACKING_USERNAME: ${{ secrets.USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.TOKEN }} 
          DAGSHUB_USER_TOKEN: ${{ secrets.TOKEN }}
          MLFLOW_TRACKING_URI: https://dagshub.com/nasikhunamin815/Workflow-CI.mlflow
        run: |
          mlflow run MLProject --env-manager=local --experiment-name Mushroom_Classification_CI
